.main {
    grid-area: main;
    margin-top: 80px;
    &-wrapper {
        &__title {
            span {
                font-weight: 700;
            }
        }
        &__label {
            width: 200px;
            background-color: #EEEEEE;
            text-align: center;
        }
    }
}