@media (max-width: 1200px) {
    .container {
        width: 925px;
    }
    .about-wrapper {
        &__text {
            width: 95%;
        }
    }
}
 
@media (max-width: 992px) {
    .container {
        width: 750px;
    }
    .sidebar-wrapper {
        padding: 40px 20px;
    }
    .skills-wrapper {
        width: 95%;
    }
    .skills-item {
        width: 225px;
        &__scale {
            width: 90px;
        }
    }
    .portfolio {
        &-cards {
            padding-top: 25px;
        }
        &-card {
            width: 400px;
            height: 320px;
        }
    }
}
 
@media (max-width: 768px) {
    .container {
        width: 550px;
        margin: unset;
        grid-template-columns: 5% 95%;
        grid-template-areas: 
        'sidebar main'
        'sidebar about'
        'sidebar experience'
        'sidebar education'
        'sidebar skills'
        'sidebar portfolio'
        'sidebar contacts';
    }
    .sidebar {
        &-wrapper {
            display: none;
        }
        img {
            display: none;
        }
    }
    .skills-item {
        width: 220px;
        &__scale {
            width: 90px;
        }
    }
    .mobile {
        &-contacts {
            display: block;
        }
        &-education {
            display: block;
        }
    }
}
 
@media (max-width: 576px) {
    .container {
        width: 400px;
    }
    .title {
        &_fz16 {
            font-size: 14px;
        }
    }
    .skills-item {
        width: 300px;
        &__scale {
            width: 120px;
        }
    }
    .portfolio-cards {
        flex-direction: column;
        padding-left: 13px;
    }
    .portfolio-card {
        width: 330px;
        height: 300px;
    }
}

@media (max-width: 426px) {
    .container {
        width: 350px;
    }
    .portfolio-cards {
        padding-left: unset;
    }
    .portfolio-card {
        width: 310px;
        height: 300px;
    }
}

@media (max-width: 376px) {
    .container {
        width: 295px;
    }
    .mobile-education-wrapper {
        width: 95%;
    }
    .skills-item {
        width: 250px;
        &__scale {
            width: 100px;
        }
    }
    .portfolio-card {
        width: 250px;
        height: 210px;
    }
}