.mobile {
    &-contacts {
        display: none;
        grid-area: contacts;
        &-wrapper {
            display: flex;
            flex-direction: column;
            &__social {
                :first-child {
                    font-weight: 700;
                }
                :nth-child(2) {
                    margin-bottom: 15px;
                }
            }
            div {
                margin-bottom: 15px;
                a {
                    display: block;
                    text-decoration: none;
                    color: black;
                }
                p {
                    margin-bottom: 5px;
                }
            }
        }
    }
    &-education {
        display: none;
        margin-top: 40px;
        grid-area: education;
        p {
            span {
                opacity: 100%;
                font-weight: 700;
            }
        }
    }
}